/* debug */

footer {
    background-color: red;
}

aside {
    background-color: royalblue;
}
section {
    background-color: salmon;
}

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

aside,
section {
    float: left;
}

/* main */

main {
    width: 100%;
    height: calc(100vh - 80px);
}
main::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    width: 200px;
    height: 100%;
}

section {
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
}

#container {
    padding-top: 50px;
}

#fixed_bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
}

/* footer */

footer {
    width: 100%;
    height: 80px;
}