/* debug */


/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #707070;
}

a {
    text-decoration: none;
    color: #707070;
}
a:hover {
    color: white;
    transition: 0.2s;
}


aside span ,
#list_nome li ,
#install{
font-size: 12px;
}

/* main */

main {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}
main::after {
    content: "";
    display: table;
    clear: both;
}

aside,
section {
    float: left;
}


/* aside */
aside {
    position: relative;
    width: 250px;
    height: 100%;
    padding: 20px 10px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}

/* aside top */

#green_line {
    position: absolute;
    left: 0;
    top: 75px;
    width: 4px;
    height: 30px;
    border-radius: 10px;
    background-color: #AAFA2F;
}

#aside_top {
    padding-left: 10px;
    overflow-y: hidden;
    height: calc(100% - 80px);
}


#hidden_xs_flex {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
}

.visible_xs {
    display: none;
}
.visible_xs img {
    width: 90%;
    padding: 2px 0;
}

#logo {
    width: 60%;
}

.menu-list {
    list-style: none;
    padding-top: 10px;
}

.menu-list img {
    width: 25px;
    vertical-align: middle;
}

.menu-list li {
    padding: 5px 0;
    font-size: 11px;
}

.menu-list span {
    vertical-align: middle;
}

.playlist_title {
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 0;
    color: white;
}

.nav-playlist > a {
    line-height: 35px;
}

#plus {
    padding: 8px 10px;
    color: black;
    font-size: 15px;
    background-color: #A2A2A2;
}

.nav-playlist > a:hover #plus {
    background-color: white;
    transition: 0.2s;
}


.nav-playlist {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav-playlist ul.menu-list {
    height: 200px;
    width: 100%;
    overflow-y: auto;
}

.nav-playlist ul.menu-list li {
    font-weight: bolder;
    padding: 6px 0;
}

/* aside bottom */

#aside_bottom {
    padding-left: 10px;
    height: 80px;
    overflow: hidden;
}

#download_logo_lg,
#download_logo_xs {
    width: 5%;
    vertical-align: middle;
}



#download {
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#download a {
    font-size: 11px;
}

.profile_container{
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
    overflow: hidden;
    vertical-align: middle;
    background-color: #707070;
}
.profile {
    width: 100%;
}

#jhon {
    color: white;
}

/* sezione centrale */

/* fixed */

#fixed_bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.3);
    text-align: left;
}

button {
    margin-right: 20px;
    padding: 8px 25px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
button:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.2s;
} 

/* sezione album */

section {
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    background-color: #141922;
}

#container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
#container h2 {
    padding: 20px 0 10px 0;
    color: white;
}
#container h3 {
    color: white;
    font-size: 13px;
    padding: 5px 0;
}
#container p {
    font-size: 11px;
    padding-bottom: 10px;
    margin-left: 0;
}

/* navbar */

#nav-bar {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}
#nav-bar a{
    text-transform: uppercase;
    margin: 10px 10px;
    font-size: 13px;
}

#nav-bar a:first-child {
    padding-top: 3px;
}

#nav-bar a div {
    width: 40%;
    height: 3px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #AAFA2F;
}

/* album */

.album_container {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    align-items: flex-start;
}

.album_row {
    width: 95%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;   
}

.single_album {
    width: calc(100% / 6);
    text-align: center;
    padding-right: 20px;
}

.img_container {
    position: relative;
    width: 100%;  
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#last_album_container img,
#last_album_container .img_hover {
    border-radius: 50%;
}

.img_hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
}
.img_hover .fa-play-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}
.img_container:hover > .img_hover {
    opacity: 1;
    transition: 0.5s;
}

/* footer */

footer {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #282828;
}

#line_footer_center:hover >#colored_line,
#line_footer_right:hover > #colored_right_line {
    cursor: pointer;
    background-color: #AAFA2F;
    transition: 0.5s;
}

#line_footer_center:hover .spot,
#line_footer_right:hover .spot {
    transition: 0.5s;
    visibility: visible;
}

/* footer left */

#footer_left{
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer_left img,
#footer_left div,
#footer_left .far {
    vertical-align: middle;
} 
#footer_left img {
    width: 20%;
}
#footer_left p {
    font-size: 10px;
}
#footer_left p {
    font-size: 11px;
    color: white;
}
#footer_left div {
    display: inline-block;
    margin-left: 5px;
}
#footer_left div:last-child {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.fa-folder {
    margin-left: 5px;
}

#brano_nome {
    font-size: 11px;
}
#brano_nome:hover {
    text-decoration: underline;
}

.fa-heart {
    margin-left: 30px;
    margin-right: 5px;
}

/* footer center */

 #footer_center {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
#footer_center a {
    font-size: 18px;
    padding: 0 5px;
    color: white;
}
#footer_center span {
    width: 20%;
    color: white;
    font-size: 11px;
}

#play_bar {
    width: 100%;
}
footer .fa-play-circle {
    font-size: 25px;
}
footer .fa-play-circle:hover {
    font-size: 30px;
    transition: 0.3s;
}

#time_bar {
    width: 100%;
}
#line_footer_center {
    position: relative;
    display: inline-block;
    width: 60%;
    height: 5px;
    border-radius: 10px;
    background-color: #707070;
}
#line_footer_center #colored_line {
    width: 30%;
    height: 5px;
    border-radius: 10px;
    background-color: lightgray;
} 
#line_footer_center .spot {
    left: 29%;
}

/* footer right */

#footer_right {
    width: 250px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#footer_right a {
    margin:5px;
}

#line_footer_right {
    position: relative;
    margin-left: 5px;
    width: 40%;
    height: 5px;
    border-radius: 10px;
    background-color: #707070;
}
#line_footer_right #colored_right_line {
    width: 17%;
    height: 5px;
    border-radius: 10px;
    background-color: lightgray;
}

.spot {
    visibility: hidden;
    position: absolute;
    bottom: calc(100% - 7px);
    left: 15%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: white;
}


/* media */ 

@media screen and (max-width: 872px) {

    .album_container {
        flex-wrap: wrap;
    }

    .single_album {
        width: calc(100% / 4);
    }
    
}

@media screen and (max-width: 678px) {
    #container h3 {
        font-size: 11px;
    }
    #container p {
        font-size: 9px;
    }

    .single_album {
        width: calc(100% / 2);
        text-align: center;
    }

    #footer_center a {
        font-size: 12px;
    }
    .fa-play-circle {
        font-size: 15px;
    }
    
    #footer_center span {
        font-size: 8px;
    }

}

@media screen and (max-width: 552px) {
    aside {
        width: 50px;
        padding: 5px 10px 5px 0;
    }

    #green_line {
        display: none;
    }
  
    .visible_xs {
        display: block;
        text-align: center;
    }

    #aside_bottom {
        padding-top: 30px;
    }

    #hidden_xs_flex,
    .hidden_xs,
    .hidden {
        display: none;
    }

    #download_logo_xs {
        width: 50%;
    }

    section {
        width: calc(100% - 50px);
    }

    #fixed_bar {
        width: calc(100% - 50px);
    }

    #nav-bar a{
        font-size: 10px;
        margin: 10px 10px;
    }

    #footer_left,
    #footer_right {
        width: 35%;
    }
    #footer_left #icon_left_footer a {
        font-size: 11px;
    }
    #footer_left #icon_left_footer {
        margin-left: 0;
    }
    #footer_left a {
        font-size: 9px;
    }
    #footer_left p {
        font-size: 11px;
    } 
    #icon_left_footer {
        width: 30%;
    }
    
    .footer_center {
        width: 30%;
    }
    #footer_center a {
        font-size: 10px;
        padding: 0 2px;
    }
    #footer_center span {
        font-size: 8px;
    }
    
    footer .fa-play-circle {
        font-size: 10px;
    }
    footer .fa-play-circle:hover {
        font-size: 15px;
    }

    #line_footer_center {
        height: 3px;
    }
    #line_footer_center #colored_line {
        height: 3px;
    } 

    #time_bar span {
        font-size: 5px;
    }

    #footer_right a {
        margin:0;
        padding: 2px;
    }
    
    #line_footer_right {
        margin-left: 0;
        height: 3px;
    }
    #line_footer_right #colored_right_line {
        height: 3px;
    }
    
    .spot {
        bottom: calc(100% - 4px);
        width: 5px;
        height: 5px;
    }

    #footer_right a {
        font-size: 11px;
    }
    

}

@media screen and (max-width: 471px) {
  
    .album_img {
        width: 43%;
        height: 43%;
        margin:5px 5px 5px 10px;
    }
    
    #footer_left #icon_left_footer a {
        font-size: 10px;
    }

    #footer_left a {
        font-size: 8px;
    }
    #footer_left p {
        font-size: 9px;
    }
    
}

@media screen and (max-width: 363px) {
    #footer_left #icon_left_footer a {
        font-size: 9px;
    }

    #footer_left a {
        font-size: 7px;
    }
    #footer_left p {
        font-size: 8px;
    }
}

